.heading {
    text-align: center;
    font-size: 60px;
    margin-left: 80px;
    margin-top: 150px !important;

}

.heading span {
    background-clip: text;
    background-image: linear-gradient(to right, #239ce2, #1369b9);
    color: transparent;
  }

  .resume-image {
    width: 448px;
    margin-left: 772px;
    margin-top: -4px;
  }

  .header {
    background: #c1d6e9;
    margin-top: -150px;
  }