.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-weight: 400;
    font-size: 1.3rem;
  }
  
  input {
    border: 1px solid #cccccc;
    outline: none;
     padding: 15px 82px; 
    font-size: 1rem;
    border-radius: 5px;
    /* width: 308px;
    height: 48px; */
  
  }
  
  input:hover {
    border: 1px solid #adadad;
  }
  
  input:focus {
    border: 1px solid #239ce2;
  }